p.education Education <br />
 | - Computer Sciences, Fundação Universidade Regional de Blumenau, 2002-2006 <br />
 | - Chemical Engineering, Fundação Universidade Regional de Blumenau, 2007-2014 <br /><br /><br />
p.proficiencies.fleft
 | Proficiencies <br />
 | - Linux, Windows <br />
 | - PHP, JQuery, JavaScript, HTML, CSS <br />
 | - Photoshop <br />
 | - MySQL, SQL Server <br />
 | - SCRUM, KANBAN <br />
 | - Computer Networks <br />
 | - Hardware <br />
 | - Logic, Algorithms <br />
 | - Mathematics, Physics, Chemistry <br />
 | - WasteWater/Water Treatment <br />
 | - Textile Dyeing/Finishing <br />
 | - Customer Services <br />
 | - Project Management <br /><br /><br />
p.future
 | Future <br />
 | - AI <br />
 | - Neurology <br />
 | - Neuroscience <br />
 | - Bioengineering <br />
 | - Bioprinting <br />
 | - Travel <br />
 | - French, German, Spanish, Italian, Japanese, and so on. <br />
 | - "Thought as Currency" project.

