p You can always send me a message. <br />
 | Let me know what's in your mind. <br />

#contact(ng-controller="contactCtrl as vm")

    #mailForm.fleft
        form(ng-submit="vm.sendMsg()")
            p Message:
            input(type="text", id="subject", name="subject", ng-model="vm.newMessage.subject", size="40")
            br
            br
            textarea(value="", id="subject", cols="50", rows="10", ng-model="vm.newMessage.body")
            br
            div
                input(type="button", id="btPreviewMess", value="Preview", ng-click="vm.previewMsg()")
                input(type="submit", id="btSendMess", value="Send")


        #msgPreview(ng-show="vm.msgView")
         | {{ vm.newMessage.subject }} {{ vm.newMessage.body }}

    #msgList(ng-hide="vm.msgCount")
        p List
        ul
            li(ng-repeat="message in vm.messages") {{ message.subject }} - {{ message.date }}


