* { padding: 0; margin: 0;}
body {
    margin: 0 auto;
    color: white;
}

h1,h4 { padding-left: 10px; }

.pad5 {
    padding: 5px;
}
.mar5 {
    margin:  10px;
}

.App {
    background-color: #ff6622;

}
.App-header {
    padding: 1vh;

}

.appMain {
    padding: 1vh;
}

.taskPointList {
    list-style: none;
}

.taskPointList li {
    padding: 5px;
    font-size: 20pt;
}
